@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Ubuntu', sans-serif;
  }
  /*
    6. Improve media defaults
  */
  img {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
    button {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
  }
  h1, h2, h3, h4 .header {

    font-family: 'Overpass', sans-serif;
  }